.back-store{
  display: flex;
  justify-content: left;
}

.title-shopcart{
  display: flex;
  justify-content: space-between;
}

.description{
  display: flex;
  justify-content: space-around;
}

.shop-product, .detail-product, .qty-product, .price-product{
  display: flex;
  justify-content: space-around;
}